# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\riyaz.shaik\code\hl7conv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
